body{
    background-color: purple;
}

.landingPage-btn{
    border: none;
    padding: 15px;
  margin-left: 208px;
  margin-bottom: 200px;
  background-color: black;
  color: #f28f00;
  cursor: pointer;
}

.landingPage-btn:hover{
    background-color: #f28f00;
    color: black;
}

.name{
    font-size: 30px;
}

@media screen and (max-width: 480px) {
.eyeLogo{
    /* height: 300px; */
    /* margin-right: 58px; */
  width: 80%;
  margin-left: 30px;

}

.landingPage-btn{
    margin-left: 120px;
}
}
    
/* @media screen and (max-width: 768px){
    .eyeLogo{
        height: 70%;
        margin-right: 118px;
      
    }
}  */

